@import "~styles";

:host {
  display: block;

  header {
    display: flex;
    align-items: center;
  }

  .app-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: rotate(345deg);
    margin: 0 2rem;

    h1, h2 {
      text-transform: uppercase;
      text-shadow: 0.2rem 0.2rem 0 $blue-green;
      margin-bottom: 0;
      text-align: center;
      font-size: 3rem;
      line-height: 3rem;
    }

    h2 {
      font-size: 1.5rem;
      line-height: 2rem;
      align-self: flex-start;
    }

  }

  nav {
    padding: 1rem;
  }

  .nav-link {
    color: $blue-green;
    text-decoration: none;
    font-size: 2.75rem;
    margin: 0 3rem;
    padding: 0.5rem;
    position: relative;
    z-index: 0;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      width: 100%;
      height: 0.1rem;
      left: 0;
      content: '';
      //background-color: $orchid;
      //opacity: 0.2;
      background-color: lighten($orchid, 15%);
      z-index: -1;
      transition: all 0.3s;
    }

    &:hover:before,
    &:hover:after {
      height: 100%;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }
}

