@import "~styles";

:host {
  display: block;

  .dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
  }

  .dashboard-header {
    font-size: 2rem;
  }

  .dashboard-list {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 2.5rem;
    gap: 1rem;

    li {
      padding-inline-start: 0.5rem;

      &::marker {
        content: "🐶";
      }
    }
  }
}
