@import "~styles";

:host {
  display: block;

  .dashboard-container {
    display: flex;
    flex-direction: column;
  }

  .dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h3 {
      font-size: 2rem;
    }
  }

  .dashboard-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      padding-inline-start: 0.5rem;
      &::marker {
        content: "🐶";
      }
    }
  }
}
